    <footer>
			<div class="container">
				<div class="row">					
					<div class="col-sm-4">
						<h5>Контакты</h5>
						<p>ФК "Зірка" (Кропивницький)</p>
                        <p>Адреса:  25006, м. Кропивницький, вул. Гагаріна, 1а.</p>
                        <p>Тел./факс:  (0522) 30-50-33.</p>
                        <p>Час роботи:  понеділок - п'ятниця 8.00 - 17.00, обідня перерва 12.00 - 13.00.</p>
                        <p>E-mail <a href="mailto:zirka.kirovohrad@gmail.com">Футбольный клуб</a></p>
                        <p>E-mail <a href=" pres.fczk@gmail.com">Прес-служба</a></p>
				    </div><!-- end col-sm-4 -->
				
					<div class="col-sm-2">
						<h5>Навiгацiя</h5>
						<ul class="unstyled">
							<li routerLinkActive="active"><a [routerLink]="['/novelties']">Головна</a></li>
	                        <li routerLinkActive="active"><a [routerLink]="['/members']">Зiрка</a></li>
	                       <li routerLinkActive="active"><a [routerLink]="['/home']">Увiйти</a></li> 
						</ul>
					</div><!-- end col-sm-2 -->

					<hr class="hidden-lg hidden-md hidden-sm">
					<div class="col-sm-6">
						<h5 align = "right">Створено<span class="glyphicon glyphicon-heart"></span> Галаган Альбина</h5>
					</div><!-- end col-sm-2 -->			
				</div><!-- end row -->
			</div><!-- end container -->
	</footer>